.details-section {
  margin-left: 10px ;
  margin-right: 100px;
  flex: 0.7;
  background: rgba(15, 23, 42, 0.6); /* closer to bg-slate-900/50 */
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}